.App {
	text-align: center;
}

.App-background {
	min-height: 100vh;
	font-size: calc(6px + 2vmin);
}

.App-link {
	color: #09d3ac;
}

.text {
	margin: 10px calc(20px + 5vmin) 10px calc(20px + 5vmin);
	color: white;
}

.model-page-text {
	margin: 5px;
	color: white;
}

.video {
	width: 60%;
	/* min-height: 100vh; */
	margin: 15px;
}
.button-row {
	padding: 10px 0 10px 0;
	margin: 20px;
	/* width: 100%; */
}

.jumbotron-style {
	/* margin: 0 20px 0 20px; */
}
