.App {
	text-align: center;
}

.App-background {
	min-height: 100vh;
	font-size: calc(6px + 2vmin);
}

.App-link {
	color: #09d3ac;
}

.text {
	margin: 10px calc(20px + 5vmin) 10px calc(20px + 5vmin);
	color: white;
}

.model-page-text {
	margin: 15px;
	color: white;
}

.video {
	width: 60vw;
	height: 34vw;
	margin: 15px;
	align-content: center;
}
.button-row {
	padding: 10px 0 10px 0;
	margin: 20px;
	/* width: 100%; */
}

.jumbotron-style {
	/* margin: 0 20px 0 20px; */
}

.logo {
	float: right;
	position: absolute;
	top: 10px;
	right: 30px;
	width: 15vw;
}

.logo-model-page {
	float: right;
	position: absolute;
	top: 10px;
	right: 30px;
	width: 11vw;
}
